.faqs {
  
  border-radius: 1rem;
  padding: 3rem 0; 
}

.faq-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 15rem;
  
}

.faq {
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  border: 1px solid var(--gray);
}

.faq .faq-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq .faq-main h4 {
  color: var(--black-color);
}

.faq-btn {
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--yellow);
  border:  1px solid transparent;
}
